{% extends 'main.html' %}

{% block content %}

{% if page == 'register' %}
<p>Already have an account <a href="{% url 'login' %}">Log in</a></p>
<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Register">
</form>
{% else %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Enter password"/>
    <input type="submit" name="Login" value="Login"/>
    <p>Create an account <a href="{% url 'register' %}">Sign up</a></p>
</form>

{% endif %}
{% endblock content %}